<!-- Header Begin -->
<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- Logo -->
				<div class="logo">
					<a routerLink="" title=""><img src="assets/images/logo.png" alt=""></a>
				</div>
				<!-- BtnMenu -->
				<div class="pull-right">
					<!-- Menu -->
					<nav class="menu">
						<a href="#" title="">Вклады</a>
						<a routerLink="loans"  title="">Кредиты</a>
						<a routerLink="mortgage"  title="">Ипотека</a>
						<a routerLink="loancredits"  title="">Кредитные карты</a>
						<a routerLink="debetcards"  title="">Дебетовые карты</a>
						<a href="#" title="">Курс</a>
					</nav>
					<button type="button" class="btn_search"><i class="fa fa-search" aria-hidden="true"></i></button>
					<!-- Search -->
					<div class="search">
						<form>
							<input type="text" name="" placeholder="Axtarış edin">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
						</form>
					</div>					<!-- Lang -->
					<div class="lang">
						<span>Русский<i class="fa fa-angle-down" aria-hidden="true"></i></span>
						<div class="inner">
							<a href="#" title="">Azerbaycan</a>
							<a href="#" title="">English</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Header End -->


<!-- ExchangeRate Begin -->
<section class="exchange_rate">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-unstyled">
          <li *ngFor="let rate of rates; let i = index;">
              <span>{{ rate.name }}</span> {{ rate.value }} <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
          </li>
				</ul>
				<a href="#" title="" class="link">{{ 'header.exchange_rate.title' | translate }}</a>
			</div>
		</div>
	</div>
</section>
<!-- ExchangeRate End -->