
<!-- Footer Begin -->
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<!-- FooterLogo -->
				<div class="footer_logo">
					<a href="#" title=""><img src="assets/images/logo.png" alt=""></a>
				</div>
				<!-- FooterMenu -->
				<div class="footer_menu">
					<ul class="list-unstyled">
						<li><a href="#" title="">О проекте</a></li>
						<li><a href="#" title="">Контакты</a></li>
						<li><a href="#" title="">Партнерская программа</a></li>
					</ul>
					<ul class="list-unstyled">
						<li><a href="#" title="">Для агентов</a></li>
						<li><a href="#" title="">Политика конфиденциальности</a></li>
						<li><a href="#" title="">Карта сайта</a></li>
					</ul>
				</div>
				<!-- SocialLinks -->
				<div class="social_links">
					<span>Присоединяйтесь к нам в соц. сетях</span>
					<div class="clearfix">
						<a href="#" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
						<a href="#" title=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<p class="copyright">© 2019 ООО «MYBANK». Наш адрес: 109544, г. Баку, Р.Бехбутов, дом 15 / При использовании материалов гиперссылка на mybank.az обязательна.</p>
			</div>
		</div>
	</div>
</footer>
<!-- Footer End -->