/* Regular */
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		 url('Raleway-Regular.woff') format('woff'),
		 url('Raleway-Regular.ttf')  format('truetype'),
		 url('Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Light */
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Light.eot?#iefix') format('embedded-opentype'),
		 url('Raleway-Light.woff') format('woff'),
		 url('Raleway-Light.ttf')  format('truetype'),
		 url('Raleway-Light.svg#Raleway-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Medium */
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		 url('Raleway-Medium.woff') format('woff'),
		 url('Raleway-Medium.ttf')  format('truetype'),
		 url('Raleway-Medium.svg#Raleway-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* SemiBold */
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('Raleway-SemiBold.woff') format('woff'),
		 url('Raleway-SemiBold.ttf')  format('truetype'),
		 url('Raleway-SemiBold.svg#Raleway-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		 url('Raleway-Bold.woff') format('woff'),
		 url('Raleway-Bold.ttf')  format('truetype'),
		 url('Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	text-rendering: optimizeLegibility;
}