@media only screen and (max-width: 991px) {
	#header {height: auto; padding: 25px 0;}
	.logo {padding: 0;}
	.lang {position: absolute; top: 5px; right: 15px; z-index: 20; margin: 0;}
	.btn_search {position: absolute; top: 5px; right: 85px; margin: 0;}
	.search {top: 5px; right: 85px;}
	#header .pull-right {width: 100%;}
	.menu {margin: 0; padding-top: 20px;}
	.exchange_rate ul li {margin-right: 40px}
	.main_menu .box {margin-bottom: 20px;}
	.footer_menu {margin-left: 40px;}
	.footer_menu ul {margin-right: 50px;}
}

@media only screen and (max-width: 767px) {
	.paket_list .boxs .box {margin-bottom: 20px;}
	.exchange_rate {height: auto; padding-bottom: 15px;}
	.exchange_rate a.link {float: left;margin-top: 0;}
	.best_offers .box {width: 100%; margin: 0 0 20px;}
	.social_links {float: left; margin-top: 30px;}
}

@media only screen and (max-width: 480px) {
	.col-mob-12 {width: 100%;}
	.col-mob-6 {width: 50%;}
	.menu a {width: 100%; margin: 0 0 20px;}
	.menu a:last-child{margin-bottom: 0;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width:1200px) {
	.container {width: 970px;}
}