/*
 * Mybank.az
 * @front-end Rovshen Shirinzade
 */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {height: 100%;}

body {
	background: #fff;
	font-size: 100%;
	overflow-x: hidden;
	font-family: Raleway, Arial, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:active , a:focus {
	outline: 0;
	text-decoration: none;
	color: #333;
}

a:hover {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

* {
	outline: none;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

.noscroll {
	overflow: hidden;
}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

/* Header Begin */
#header {
	height: 90px;
}

.logo {
	float: left;
	padding-top: 46px;
}

.menu {
	float: left;
	margin-right: 60px;
	padding-top: 53px;
}

.menu a {
	float: left;
	margin-right: 28px;
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	color: #5f5f5f;
	transition: color 600ms ease;
}

.menu a:hover {
	color: #4c75c2;
}

.menu a:last-child {
	margin-right: 0;
}

.btn_search {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	z-index: 15;
	margin-top: 50px;
	padding: 0;
	font-size: 7px;
	line-height: 16px;
	color: #fff;
	text-align: center;
	background: #4a73c0;
	border: none;
	border-radius: 6px;
}

.search {
	position: absolute;
	top: 50px;
	right: 82px;
	width: 0;
	opacity: 0;
	transition: 0.5s ease;
}

.search.show {
	width: 120px;
	opacity: 1;
	z-index: 20;
}

.search input[type="text"] {
	display: block;
	width: 100%;
	height: 16px;
	padding: 0 20px;
	font-size: 10px;
	font-weight: 300;
	color: #fff;
	background: #4a73c0;
	border: none;
	border-radius: 6px;
}

.search input[type="text"]::-webkit-input-placeholder {color: #fff;}
.search input[type="text"]::-moz-placeholder {color: #fff;}

.search button[type="submit"] {
	display: block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	font-size: 7px;
	line-height: 16px;
	color: #fff;
	background: none;
	border: none;
	transition: 300ms ease;
}

.search button[type="submit"]:hover {opacity: 0.6;}

.lang {
	position: relative;
	float: left;
	margin-top: 50px;
	margin-left: 5px;
}

.lang span {
	float: left;
	min-width: 60px;
	height: 16px;
	padding: 0 10px;
	font-size: 8px;
	font-weight: 700;
	line-height: 16px;
	color: #fff;
	cursor: pointer;
	background: #4a73c0;
	border-radius: 6px;
}

.lang span i {
	margin-left: 5px;
	transition: 0.3s ease;
}

.lang.active span i {
	transform: rotate(-180deg);
}

.lang .inner {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 5px 0;
	background: #4a73c0;
	border-radius: 0 0 6px 6px;
}

.lang .inner a {
	display: block;
	padding: 0 10px;
	font-size: 8px;
	font-weight: 700;
	line-height: 16px;
	color: #fff;
}

.lang.active span {
	border-radius: 6px 6px 0 0;
}
/* Header End */

/* ExchangeRate Begin */
.exchange_rate {
	height: 47px;
	background: #eaf1fe;
}

.exchange_rate ul {
	float: left;
	margin: 0;
}

.exchange_rate ul li {
	float: left;
	margin-right: 85px;
	font-size: 12px;
	font-weight: 500;
	line-height: 47px;
	color: #5f5f5f;
}

.exchange_rate ul li span {
	font-weight: 700;
}

.exchange_rate ul li i {
	font-size: 11px;
	margin-left: 4px;
}

.exchange_rate ul li i.fa-long-arrow-down {color: #fc5465;}
.exchange_rate ul li i.fa-long-arrow-up {color: #587ec7;}

.exchange_rate ul li:last-child {margin-right: 0;}

.exchange_rate a.link {
	float: right;
	margin-top: 16px;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #4a73c0;
}

.exchange_rate a.link:hover {
	text-decoration: underline;
}
/* ExchangeRate End */

/* MainMenu Begin */
.main_menu {
	position: relative;
	margin: 13px 0;
	padding: 25px 0;
	border-top: 1px solid #949494;
	border-bottom: 1px solid #949494;
}

.main_menu .box {
	text-align: center;
}

.main_menu .box figure {
	height: 76px;
	line-height: 76px;
}

.main_menu .box h2 {
	margin: 13px 0 0;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2;
	color: #5f5f5f;
	transition: color 600ms ease;
}

.main_menu .box:hover h2 {
	color: #ff3c4e;
}
/* MainMenu End */

/* Partners Begin */
.partners {
	padding: 25px 0;
	border-top: 1px solid #949494;
}

.partners h2 {
	margin: 0 0 20px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #4a73c0;
}

.partners figure {
	float: left;
	height: 50px;
	margin-bottom: 10px;
	line-height: 50px;
}
/* Partners End */

/* Footer Begin */
#footer {
	position: relative;
	padding: 30px 0 60px;
	background: #eaf1fe;
}

.footer_logo {
	float: left;
	width: 90px;
	padding-top: 25px;
}

.footer_menu {
	float: left;
	margin-left: 74px;
	padding-top: 10px;
}

.footer_menu ul {
	float: left;
	margin: 0 120px 0 0;
}

.footer_menu ul:last-child {margin-right: 0;}

.footer_menu ul li {
	margin-bottom: 5px;
}

.footer_menu ul li a {
	font-size: 11px;
	font-weight: 400;
	line-height: 1;
	color: #4a73c0;
	transition: color 600ms ease;
}

.footer_menu ul li a:hover {
	color: #ff3c4e;
}

.social_links {
	float: right;
}

.social_links span {
	display: block;
	margin-bottom: 15px;
	font-size: 11px;
	font-weight: 400;
	line-height: 1;
	color: #4a73c0;
}

.social_links a {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 8px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #4a73c0;
	border-radius: 50%;
}

.social_links a:last-child {margin-right: 0;}

.copyright {
	margin: 35px 0 0;
	font-size: 8px;
	font-weight: 400;
	line-height: 1;
	color: #4a73c0;
}
/* Footer End */

/* BestOffers Begin */
.best_offers {
	position: relative;
	padding: 15px 0;
}

.best_offers:before {
	content: "";
	display: block;
	height: 175px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -5;
	background: #eaf1fe;
}

.best_offers h1 {
	margin: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #4a73c0;
}

.tab_nav {
	padding: 20px 0 0;
}

.tab_nav a {
	float: left;
	display: block;
	margin-right: 15px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	color: #5f5f5f;
	transition: color 600ms ease;
}

.tab_nav a:hover {
	color: #ff3c4e;
}

.tab_nav a.active:hover {
	color: #5f5f5f;
}

.tab_content {
	margin-top: 20px;
}

.tab_nav a.active:after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 5px;
	background: #ff3c4e;
}

.best_offers .box {
	float: left;
	width: calc((100% - 10px) / 3);
	padding: 15px 20px;
	margin-right: 5px;
	background: #fff;
	border: 2px solid #eaf1fe;
	border-radius: 3px;
}

.best_offers .box:last-child {margin-right: 0;}

.best_offers .box .head {
	float: left;
	width: 100%;
}

.best_offers .box .head h2 {
	float: left;
	margin: 1px 0 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 35px;
	color: #5f5f5f;
}

.best_offers .box .head h2 span {
	font-weight: 700;
}

.best_offers .box .head figure {
	float: right;
	height: 35px;
	line-height: 35px;
}

.best_offers .box:first-child .head figure {
	width: 100px;
}

.best_offers .box .body {
	float: left;
	width: 100%;
	margin-top: 22px;
}

.best_offers .box .body ul {
	margin: 0;
}

.best_offers .box .body ul li {
	float: left;
	margin-right: 50px;
	font-size: 10px;
	font-weight: 400;
	line-height: 1;
	color: #5f5f5f;
}

.best_offers .box .body ul li span {
	display: block;
	margin-bottom: 2px;
	font-size: 24px;
	font-weight: 700;
}

.best_offers .box .body ul li:last-child {margin-right: 0;}

.best_offers .box .bottom {
	float: left;
	width: 100%;
	margin-top: 20px;
}

.best_offers .box .bottom a {
	float: right;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #5f5f5f;
	transition: color 600ms ease;
}

.best_offers .box .bottom a:hover {
	color: #ff3c4e;
}