<!-- MainMenu Begin -->
<section class="main_menu">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-3 col-mob-6">
				<div class="box">
					<a href="#" title="">
						<figure>
							<img src="assets/images/icon/icon-menu1.png" alt="">
						</figure>
						<h2>Вклады</h2>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-3 col-mob-6">
				<div class="box">
					<a href="#" title="">
						<figure>
							<img src="assets/images/icon/icon-menu2.png" alt="">
						</figure>
						<h2>Кредиты</h2>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-3 col-mob-6">
				<div class="box">
					<a href="#" title="">
						<figure>
							<img src="assets/images/icon/icon-menu3.png" alt="">
						</figure>
						<h2>Ипотека</h2>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-3 col-mob-6">
				<div class="box">
					<a href="#" title="">
						<figure>
							<img src="assets/images/icon/icon-menu4.png" alt="">
						</figure>
						<h2>Кредитные карты</h2>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-3 col-mob-6">
				<div class="box">
					<a href="#" title="">
						<figure>
							<img src="assets/images/icon/icon-menu5.png" alt="">
						</figure>
						<h2>Дебетовые карты</h2>
					</a>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-3 col-mob-6">
				<div class="box">
					<a href="#" title="">
						<figure>
							<img src="assets/images/icon/icon-menu6.png" alt="">
						</figure>
						<h2>Курс</h2>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- MainMenu End -->


<!-- BestOffers Begin -->
<section class="best_offers">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Лучшие предложения</h1>
				<div class="tab_nav clearfix">
					<a href="#" title="" class="active">Вклады</a>
					<a href="#" title="">Кредиты</a>
					<a href="#" title="">Ипотека</a>
					<a href="#" title="">Кредитные карты</a>
					<a href="#" title="">Дебетовые карты</a>
				</div>
				<div class="tab_content clearfix">
					<div class="box">
						<div class="head">
							<h2>Вклад <span>Семейный</span></h2>
							<figure>
								<img src="assets/images/delete/partners1.png" alt="">
							</figure>
						</div>
						<div class="body">
							<ul class="list-unstyled">
								<li><span>8,00%</span>годовых</li>
								<li><span>365</span>срок вклада</li>
							</ul>
						</div>
						<div class="bottom">
							<a href="#" title="">Подробнее</a>
						</div>
					</div>
					<div class="box">
						<div class="head">
							<h2>Вклад <span>Семейный</span></h2>
							<figure>
								<img src="assets/images/delete/partners2.png" alt="">
							</figure>
						</div>
						<div class="body">
							<ul class="list-unstyled">
								<li><span>8,00%</span>годовых</li>
								<li><span>365</span>срок вклада</li>
							</ul>
						</div>
						<div class="bottom">
							<a href="#" title="">Подробнее</a>
						</div>
					</div>
					<div class="box">
						<div class="head">
							<h2>Вклад <span>Семейный</span></h2>
							<figure>
								<img src="assets/images/delete/partners3.png" alt="">
							</figure>
						</div>
						<div class="body">
							<ul class="list-unstyled">
								<li><span>8,00%</span>годовых</li>
								<li><span>365</span>срок вклада</li>
							</ul>
						</div>
						<div class="bottom">
							<a href="#" title="">Подробнее</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- BestOffers End -->
<!-- Partners Begin -->
<section class="partners">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Наши партнеры</h2>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners1.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners2.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners3.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners1.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners2.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners3.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners1.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners2.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners3.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners1.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners2.png" alt="">
				</figure>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-4">
				<figure>
					<img src="assets/images/delete/partners3.png" alt="">
				</figure>
			</div>
		</div>
	</div>
</section>
<!-- Partners End -->
